/* titre du site */	
header{
	position: fixed;
	top: 0;
	width: 960px;
	z-index: 999;
	height: 60px;
	background-color: #fff;
	-webkit-box-shadow: 0 0 10px -2px black;
	-moz-box-shadow: 0 0 10px -2px black;
	box-shadow: 0 0 10px -2px black;
	padding: 0 20px;	
}

header .site-title{
	font-family : expresswayregular, Arial, sans-serif;
	font-size: 38px;
	font-style: normal;
	font-weight: lighter;
	/*letter-spacing: 2px;
	line-height: 0.3em;*/
	line-height: 1em;
	color: #000080;
	display: inline-block;
}

/* barre de menu */

.nav-menu ul {
	list-style: none;
	padding: 0;
}

/* barre de recherche */

header form{
	display: inline-block;
	float: right;
	padding-top: 25px;
}

header form input.search-field{
	margin-bottom: 0;
	background-color: transparent;
	background-image: url(../img/search-icon.png);
	background-position: 5px center;
	background-repeat: no-repeat;
	background-size: 24px 24px;
	border: none;
	cursor: pointer;
	height: 37px;
	margin: 0;
	padding: 0 0 0 32px;
	position: relative;
	-webkit-transition: width 400ms ease, background 400ms ease;
	transition: width 400ms ease, background 400ms ease;
	width: 0;
}

.search-form .search-submit {
	display: none;
}

/* barre de réseaux sociaux */
header ul.socialbar{
	width: 380px;
}

.socialbar li{
	width: 60px;
	height: 60px;
	display: inline-block;
	background: url(../img/sprite-reseaux-sociaux.png) no-repeat;
}

.socialbar .socialbar-facebook{	background-position: left top; }
.socialbar .socialbar-twitter{ background-position: 82% top; }
.socialbar .socialbar-googleplus{ background-position: 102% top; }
.socialbar .socialbar-youtube{background-position: 62% top; }
.socialbar .socialbar-dailymotion{	background-position: 40.8% top; }
.socialbar .socialbar-rss{	background-position: 20% top; }

.socialbar .socialbar-facebook:hover{	background-position: left bottom; }
.socialbar .socialbar-twitter:hover{ background-position: 82% bottom; }
.socialbar .socialbar-googleplus:hover{ background-position: 102% bottom; }
.socialbar .socialbar-youtube:hover{background-position: 62% bottom; }
.socialbar .socialbar-dailymotion:hover{	background-position: 40.8% bottom; }
.socialbar .socialbar-rss:hover{	background-position: 20% bottom; }